name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    permissions:
      id-token: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            9.0.x
          global-json-file: "./global.json"

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release

      - name: Pack
        run: dotnet pack --configuration Release -o ./artifacts /p:OutputServerJsonPath=./artifacts/server.json

      - name: Clone MCP Registry and build publisher tool
        shell: pwsh
        run: |
          cd ${{ runner.temp }}

          # Install Microsoft Go
          # This go-install.ps1 script could be checked into your source repository
          Invoke-WebRequest `
              https://raw.githubusercontent.com/microsoft/go-infra/refs/heads/main/goinstallscript/powershell/go-install.ps1 `
              -OutFile go-install.ps1
          ./go-install.ps1

          # Enable compliant crypto
          $env:GOEXPERIMENT = "systemcrypto"

          # Clone and build the publisher tool
          git clone --branch "v1.3.7" https://github.com/modelcontextprotocol/registry
          cd registry
          go build -o ${{ runner.temp }}/mcp-publisher.exe ./cmd/publisher

          # show help for the tool to ensure it's working
          ${{ runner.temp }}/mcp-publisher.exe --help

      - name: Azure Login via OIDC
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.KV_CLIENT_ID }}
          tenant-id: ${{ secrets.KV_TENANT_ID }}
          subscription-id: ${{ secrets.KV_SUBSCRIPTION_ID }}
